@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.retinablue {
  background-color: #2e4faa;
}

.retinaorange {
  background-color: #f0750b;
}

.retinayellow {
  background-color: #fbc350;
}

.retinagray {
  background-color: #e0e0e0;
}

.retinadarkgray {
  background-color: #333333;
}

.retinabluetext {
  color: #2e4faa;
}

.retinaorangetext {
  color: #f0750b;
}

.retinayellowtext {
  color: #fbc350;
}

.retinagraytext {
  color: #e0e0e0;
}

.retinadarkgraytext {
  color: #333333;
}